.educationContainer 
{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 5px,
    #2f2f2f 6px,
    #2f2f2f 43px,
    transparent 44px,
    transparent 49px),
    repeating-linear-gradient(
    to right,
    transparent 0px,
    transparent 5px,
    #2f2f2f 6px,
    #2f2f2f 43px,
    transparent 44px,
    transparent 49px),
    repeating-linear-gradient(
    to bottom,
    #4f4f4f 0px,
    transparent 1px,
    transparent 49px),
    repeating-linear-gradient(
    to right,
    #4f4f4f 0px,
    transparent 1px,
    transparent 49px);
    */
  background-image: url('../img/dot4x4.png');
  background-position: center top;
}

.education 
{
  width: 80%;
  max-width: 1024px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #7f7f7f;
}

.education h2
{
  font-weight: normal;
  font-size: 3em;
  color: #7f7f7f;
  background-color: #2f2f2f;
  padding: 10px 0px;
}

.edUnderline 
{
  width: 150px;
  height: 4px;
  background-color: #7c6f91;
}

.bootcamp
{
  color: #2c2c2c;
  margin: 40px auto;
  text-align: center;
  background-image: linear-gradient(
    182deg,
    #7c6f91 0%,
    #7c6f91 35%,
    #1c1c1c 36%,
    #3f3f3f 38%,
    #2f2f2f 100%);
  border-bottom: 1px solid #7c6f91;
}

.bootcamp h3
{
  font-weight: normal;
  font-size: 1.8em;
  margin: 40px 80px 10px;
}

.underlineBootcamp
{
  background-color: #2f2f2f;
  width: 200px;
  height: 2px;
  margin: 0px auto 100px;
}

.bootcampBottom 
{
  color: #7f7f7f;
  width: 100%;
}

.bootcampBottom h4 
{
  font-size: 1.5em;
  font-weight: normal;
  padding: 10px 20px;
  border: 1px solid #2f2f2f;
  background-color: #4f4f4f;
  outline: 8px solid #4f4f4f;
  color: #1c1c1c;
  letter-spacing: 5px;
  width: 100px;
  margin: 40px auto;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.5);
}

.bootcampBottom p
{
  margin: 30px auto;
}
