.pfContainer
{
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.flipped 
{
  flex-direction: row-reverse;
}

.imgContainer
{
  min-height: 100vh;
  width: 50%;
  overflow: hidden;
  background-color: #7c6f91;
  background-image: linear-gradient(to bottom right, #7c6f91, #5d536c);
  background-position: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.bgImg
{
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url('../img/whiteCross.png');
  opacity: 0.2;
  position: absolute;
  z-index: 1;
}

.imgContainer img
{
  height: 75%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
  border-radius: 34px;
  z-index: 99;
}

.imgContainer a
{
  font-size: 1.2em;
  display: block;
  text-decoration: none;
  color: #2f2f2f;
  background-color: #7c6f91;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 98;
}

.projectDescription
{
  width: 50%;
  box-sizing: border-box;
  color: #7f7f7f;
}

.templateContainer
{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.templateTitle
{
  font-size: 2em;
  font-weight: normal;
  width: content;
  padding: 10px;
}

.templateUnderline
{
  width: 100px;
  height: 4px;
  background-color: #7c6f91;
}

.templateSubtitle
{
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 20px;
}

.templateContainer article
{
  box-sizing: border-box;
  padding: 30px;
  margin: 40px;
  border-radius: 8px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2), -6px -6px 6px rgba(255, 255, 255, 0.1);
  text-align: center;
}

.templateContainer p 
{
  margin-bottom: 30px;
}

.templateContainer ul
{
  list-style: none;
  margin: 10px;
}

.templateContainer h4 
{
  font-size: 1.1em;
  color: #7c6f91;
}

@media screen and (max-width: 750px)
{
  .pfContainer, .flipped
  {
    flex-direction: column;
  }
  .imgContainer, .projectDescription
  {
    width: 100%;
  }
}
