.contactContainer
{
  min-height: 100vh;
  box-sizing: border-box;
  color: #7f7f7f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contactUnderline
{
  width: 80px;
  height: 3px;
  background-color: #7c6f91;
}

.contactContainer h2
{
  font-size: 2em;
  font-weight: normal;
  margin: 20px auto 10px;
}

.personalLogo
{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 40px;
  border: 8px dotted #4f4f4f;
  box-sizing: border-box;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.personalLogo img
{
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
  width: 70%;
  height: 70%;
  border-radius: 50%;
  opacity: 0.6;
}

.linkContainer
{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: center;
  padding: 40px 0px;
}

.eachLink 
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ballLink
{
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3f3f3f;
  background-image: linear-gradient(to bottom, #4f4f4f, #383838);
  border-radius: 50%;
  font-size: 80px;
  margin: 40px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.eachLink:first-child .ballLink
{
  color: teal;
  font-size: 90px;
}

.eachLink:nth-child(2) .ballLink
{
  color: steelblue;
}

.eachLink:nth-child(3) .ballLink
{
  /*color: #a04f4f;*/
  color: #7c6f91;
}

.darker
{
  color: #4f4f4f;
}

.footerSeparator
{
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to left, transparent, #5f5f5f, transparent);
  margin-top: 20px;
}

footer
{
  width: 100%;
  background-color: #2a2a2a;
  box-sizing: border-box;
  padding: 20px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}


@media screen and (max-width: 750px)
{
  .linkContainer 
  {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
